@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,500;0,600;0,900;1,400;1,500;1,600;1,900&family=WindSong:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}


.countdown {
    display: flex;
    color: #AE739E;
    justify-content: center;
}
  
.carousel-indicator {
    color: gray; 
  }

.carousel-card {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}