
* {
    margin: 0;
    padding: 0;
}


.countdown {
    display: flex;
    color: #AE739E;
    justify-content: center;
}
  
.carousel-indicator {
    color: gray; 
  }

.carousel-card {
    width: 95%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}